@import 'nib'

$side = 300px/4px;
$brand1 = #4CBFFC;

* { 
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
  }

@font-face {
    font-family: 'MolotRegular';
    src: url('css/Molot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes wobble {
  0% {
    transform: rotateZ(0deg);
  }
  17% {
    transform: rotateZ(10deg);
  }
  33% {
    transform: rotateZ(-10deg);
  }
  66% {
    transform: rotateZ(5deg);
  }
  85% {
    transform: rotateZ(-5deg);
  }
  95%{
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'AvenirNextCondensed-Regular' 'HelveticaNeue-UltraLight' helvetica;
}

#board {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.title {
  position: fixed;
  font-size: 1.5em;
  width: 100%;
  height: 50px;
  top: 0;
  background-color: $brand1;
  color: #fff;
  .title-text{
    line-height: 50px;
    height: 50px;
    padding-left: 8px;
  }
  input{
    font-family: 'AvenirNextCondensed-Regular' 'HelveticaNeue-UltraLight' helvetica;
    padding: 8px;
    background: transparent;
    color: #fff;
    font-size: 1em;
    border: none;
  }
  .buttons {
    // position: absolute;
    // right: 0;
    // top: 0;
    // float: right;
    button {
      float: right;
      height: 50px;
      width: 50px;
      border: none;
      margin: 0;
      padding: 0;
    }
  }
}

button.grid-button {
  background: url('images/grid.svg') transparent top left;
  background-size: 50px 50px;
}

button.list-button {
  background: url('images/list.svg') transparent top left;
  background-size: 50px 50px;
}

.face.img {
  width: 100%;
  height: 100%;
}

.listWrapper {
  background-color: $brand1;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ccc;
}

.actions {
  background-color: #999;
}

.dice-group {
  width: 100%;
  padding-top: 50px;
  padding-bottom: (320px/4)+12px;
  overflow: auto;
}

.die-container {
  position: relative;
  float: left;
  width: $side;
  height: $side;
  margin: (20/8)px;
  border-radius: 4px;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transform:scale3d(1,1,1);
}

.die-face {
  width: $side;
  height: $side;
  font-family: 'MolotRegular';
  background-color: #F23581;
  font: 100%/1.5;
  font-size: 3em;
  line-height: 1em;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}

.face {
  padding: 8px;
  height: 100%;
}

.die-container.born {
  transform:scale3d(0,0,0);
}

.die-container.button{
  background-color: #AAA;
}

.die-container.locked {
  background-color: #CCC;
}

.die-container.list {
  width: 100%;
  clear: both;

  .die-face {
    float: left;
  }
}

.listView {
  height: $side;
  border-radius: 4px;
  margin-left: $side+2.5px;
  margin-right: 2.5px;
  background-color: #eee;
}

.die-face.rolling {
  animation-name: wobble;
  animation-duration: 0.5s;
  animaton-timing-function: ease-in-out;
}

// @media screen and (max-width: 640px) {
//   .die-container {
  
//     padding: 0px;

//     // width: 20%;
//     // padding-bottom: 20%;
//     // height: 0;
//   }

//   .die-face {
//     // position: absolute;
//     // width: 100%;
//     // left: 0;
//   }
// }
