@import 'nib'

* { 
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
  }

@font-face {
    font-family: 'MolotRegular';
    src: url('css/Molot-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@keyframes wobble {
  0% {
    transform: rotateZ(0deg);
  }
  17% {
    transform: rotateZ(10deg);
  }
  33% {
    transform: rotateZ(-10deg);
  }
  66% {
    transform: rotateZ(5deg);
  }
  85% {
    transform: rotateZ(-5deg);
  }
  95%{
    transform: rotateZ(2deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

#board {
  font-family: 'MolotRegular';
  font: 100%/1.5;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.face.img {
  width: 100%;
  height: 100%;
}

.listWrapper {
  overflow: auto;
  width: 100%;  
}

.actions {
  background-color: #999;
}

.die {
  float: left;
  font-size: 3em;
  margin: 0.25em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1em;
  color: #fff;
  background-color: #F23581;
  text-align: center;
  border-radius: 4px;
  transition-duration: 1s;
  transition-timing-function: ease;
  transform:scale3d(1,1,1);
}

.die.born {
  transform:scale3d(0,0,0);
}

.die.button{
  background-color: #AAA;
}

.die.locked {
  background-color: #CCC;
}

.face {
  width: 100%;
  height: 100%;
  padding: 0.25em;
}

.die.rolling {
  animation-name: wobble;
  animation-duration: 0.5s;
  animaton-timing-function: ease-in-out;
}
