* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
@font-face {
  font-family: 'MolotRegular';
  src: url("css/Molot-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
#board {
  font-family: 'MolotRegular';
  font: 100%/1.5;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.face.img {
  width: 100%;
  height: 100%;
}
.listWrapper {
  overflow: auto;
  width: 100%;
}
.die {
  float: left;
  font-size: 3em;
  margin: 0.25em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1em;
  color: #fff;
  background-color: #f23581;
  text-align: center;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.die.button {
  background-color: #aaa;
}
.face {
  width: 100%;
  height: 100%;
  padding: 0.25em;
}
.die.rolling {
  -webkit-animation-name: wobble;
  -moz-animation-name: wobble;
  -o-animation-name: wobble;
  -ms-animation-name: wobble;
  animation-name: wobble;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -ms-animation-duration: 0.5s;
  animation-duration: 0.5s;
  animaton-timing-function: ease-in-out;
}
@-moz-keyframes wobble {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  17% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  33% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

  66% {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  85% {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }

  95% {
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
    -ms-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  17% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  33% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

  66% {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  85% {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }

  95% {
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
    -ms-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-o-keyframes wobble {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  17% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  33% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

  66% {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  85% {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }

  95% {
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
    -ms-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@-ms-keyframes wobble {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  17% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  33% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

  66% {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  85% {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }

  95% {
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
    -ms-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  17% {
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  33% {
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

  66% {
    -webkit-transform: rotateZ(5deg);
    -moz-transform: rotateZ(5deg);
    -o-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

  85% {
    -webkit-transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -o-transform: rotateZ(-5deg);
    -ms-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
  }

  95% {
    -webkit-transform: rotateZ(2deg);
    -moz-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
    -ms-transform: rotateZ(2deg);
    transform: rotateZ(2deg);
  }

  100% {
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
}
